Repository IntelRealSense/librealsense, pull requests merged in 2018-11, with the labels that each got.

#2668 PCL color example added
  wrappers/pcl/pcl-color/CMakeLists.txt
  wrappers/pcl/pcl-color/readme.md
  wrappers/pcl/pcl-color/rs-pcl-color.cpp
  wrappers/pcl/pcl/readme.md
  wrappers/pcl/readme.md
  wrappers/pcl/res/5.PNG
Labels: pcl

#2651 Fix Openni2 build failed on linux (update to C99 standard)
  wrappers/openni2/CMakeLists.txt
  wrappers/openni2/README.md
  wrappers/openni2/src/Rs2Base.h
Labels: openni

#2670 Align processing block - CUDA implementation
  CMakeLists.txt
  include/librealsense2/rsutil.h
  src/cuda/cuda-conversion.cu
  src/cuda/rscuda_utils.cuh
  src/proc/align.cpp
  src/proc/align.h
  src/proc/cuda/cuda-align.cu
  src/proc/cuda/cuda-align.cuh
  src/proc/cuda/cuda-align.h
  src/proc/processing-blocks-factory.cpp
  src/proc/processing-blocks-factory.h
  src/proc/sse/sse-align.cpp
  src/proc/sse/sse-align.h
  src/rs.cpp
  wrappers/nodejs/test/test-functional.js
Labels: cuda

#2709 OpenCV and Numpy Point cloud Software Renderer
  wrappers/python/examples/opencv_pointcloud_viewer.py
  wrappers/python/examples/pyglet_pointcloud_viewer.py
Labels: python

#2690 [python] add apply_filters function, deal with align.process
  wrappers/python/python.cpp
Labels: python
