Repository IntelRealSense/librealsense, pull requests merged in 2018-06, with the labels that each got.

#1835 Changes required to run the patch on odroid 4.14 image
  .gitignore
  doc/installation.md
  doc/installation_odroid.md
  scripts/patch-realsense-ubuntu-odroid.sh
Labels: Linux, installation

#1879 Fix OpenCV Wrapper and Example
  wrappers/opencv/cv-helpers.hpp
  wrappers/opencv/dnn/rs-dnn.cpp
  wrappers/opencv/grabcuts/rs-grabcuts.cpp
  wrappers/opencv/latency-tool/rs-latency-tool.cpp
Labels: opencv

#1847 Csharp cmake
  CMakeLists.txt
  wrappers/CMakeLists.txt
  wrappers/csharp/CMakeLists.txt
  wrappers/csharp/Intel.RealSense.2015.sln
  wrappers/csharp/Intel.RealSense.SDK.sln
  wrappers/csharp/Intel.RealSense/CMakeLists.txt
  wrappers/csharp/Intel.RealSense/Intel.RealSense.2015.csproj
  wrappers/csharp/Intel.RealSense/Intel.RealSense.csproj
  wrappers/csharp/cs-tutorial-1-depth/CMakeLists.txt
  wrappers/csharp/cs-tutorial-1-depth/cs-tutorial-1-depth.csproj
  wrappers/csharp/cs-tutorial-2-capture/CMakeLists.txt
  wrappers/csharp/cs-tutorial-2-capture/cs-tutorial-2-capture.csproj
  wrappers/csharp/cs-tutorial-3-processing/CMakeLists.txt
  wrappers/csharp/cs-tutorial-3-processing/cs-tutorial-3-processing.csproj
  wrappers/csharp/readme.md
Labels: .NET

#1866 Cuda for Jeston TX2
  CMakeLists.txt
  doc/android/CMakeLists.txt_
  examples/C/color/CMakeLists.txt
  examples/C/depth/CMakeLists.txt
  examples/C/distance/CMakeLists.txt
  examples/CMakeLists.txt
  examples/align/CMakeLists.txt
  examples/capture/CMakeLists.txt
  examples/capture/rs-capture.cpp
  examples/measure/CMakeLists.txt
  examples/multicam/CMakeLists.txt
  examples/pointcloud/CMakeLists.txt
  examples/post-processing/CMakeLists.txt
  examples/record-playback/CMakeLists.txt
  examples/save-to-disk/CMakeLists.txt
  examples/sensor-control/CMakeLists.txt
  examples/software-device/CMakeLists.txt
  src/archive.cpp
  src/cuda/cuda-conversion.cu
  src/cuda/cuda-conversion.cuh
  src/cuda/cuda-pointcloud.cu
  src/cuda/cuda-pointcloud.cuh
  src/ds5/advanced_mode/rs_advanced_mode.cpp
  src/image.cpp
  src/linux/backend-hid.cpp
  src/linux/backend-v4l2.cpp
  src/media/playback/playback_device.cpp
  src/media/playback/playback_sensor.cpp
  src/media/record/record_device.cpp
  src/media/record/record_sensor.cpp
  src/metadata-parser.h
  src/option.cpp
  src/proc/pointcloud.cpp
  src/rs.cpp
  third-party/glfw/CMakeLists.txt
  third-party/libusb/CMakeLists.txt
  third-party/realsense-file/CMakeLists.txt
  tools/CMakeLists.txt
  tools/convert/CMakeLists.txt
  tools/data-collect/CMakeLists.txt
  tools/depth-quality/CMakeLists.txt
  tools/enumerate-devices/CMakeLists.txt
  tools/fw-logger/CMakeLists.txt
  tools/realsense-viewer/CMakeLists.txt
  tools/rosbag-inspector/CMakeLists.txt
  tools/terminal/CMakeLists.txt
  unit-tests/CMakeLists.txt
  wrappers/CMakeLists.txt
  wrappers/nodejs/CMakeLists.txt
  wrappers/nodejs/examples/CMakeLists.txt
  wrappers/opencv/CMakeLists.txt
  wrappers/opencv/dnn/CMakeLists.txt
  wrappers/opencv/grabcuts/CMakeLists.txt
  wrappers/opencv/imshow/CMakeLists.txt
  wrappers/opencv/latency-tool/CMakeLists.txt
  wrappers/pcl/CMakeLists.txt
  wrappers/pcl/pcl/CMakeLists.txt
  wrappers/python/CMakeLists.txt
  wrappers/python/third_party/pybind11/CMakeLists.txt
Labels: cuda
