Repository IntelRealSense/librealsense, pull requests merged in 2018-07, with the labels that each got.

#1876 [nodejs] Update test cases
  wrappers/nodejs/test/test-colorizer.js
  wrappers/nodejs/test/test-config.js
  wrappers/nodejs/test/test-context.js
Labels: node.js

#2023 API description - continued
  include/librealsense2/hpp/rs_frame.hpp
  include/librealsense2/hpp/rs_processing.hpp
Labels: documentation

#2028 [DSO-9795] fix pointcloud.destroy check return values.
  wrappers/nodejs/test/test-pointcloud.js
Labels: node.js

#2025 Update points testcase
  wrappers/nodejs/test/test-points.js
Labels: node.js

#2022 Fixing deadlock inside UVC backend
  src/libuvc/libuvc.cpp
Labels: MacOS

#1995 Fixed bug DSO-9680 - stop the rendering loop only if all the devices are not streaming.
  common/model-views.cpp
  common/model-views.h
  tools/realsense-viewer/realsense-viewer.cpp
Labels: multicamera

#2041 Update rs400_advanced_mode.md
  doc/rs400_advanced_mode.md
Labels: documentation

#2069 unity - adjust folders structure to support unity package build
  wrappers/csharp/Intel.RealSense/CMakeLists.txt
  wrappers/unity/.gitignore
  wrappers/unity/Assets/RealSenseSDK2.0/Editor/Tests.meta
  wrappers/unity/Assets/RealSenseSDK2.0/Editor/Tests/NewPlayModeTest.cs
  wrappers/unity/Assets/RealSenseSDK2.0/Editor/Tests/NewPlayModeTest.cs.meta
  wrappers/unity/ProjectSettings/ProjectVersion.txt
Labels: unity

#2091 PyPi upload scripts
  wrappers/python/.gitignore
  wrappers/python/README.rst
  wrappers/python/find_librs_version.py
  wrappers/python/pyrealsense2/__init__.py
  wrappers/python/readme.md
  wrappers/python/requirements.txt
  wrappers/python/setup.py
Labels: python

#2119 Box dimensioner multicam
  wrappers/python/examples/box_dimensioner_multicam/HighResHighAccuracyPreset.json
  wrappers/python/examples/box_dimensioner_multicam/box_dimensioner_multicam_demo.py
  wrappers/python/examples/box_dimensioner_multicam/calculate_rmsd_kabsch.py
  wrappers/python/examples/box_dimensioner_multicam/calibration_kabsch.py
  wrappers/python/examples/box_dimensioner_multicam/helper_functions.py
  wrappers/python/examples/box_dimensioner_multicam/measurement_task.py
  wrappers/python/examples/box_dimensioner_multicam/pattern_chessboard.png
  wrappers/python/examples/box_dimensioner_multicam/readme.md
  wrappers/python/examples/box_dimensioner_multicam/realsense_device_manager.py
  wrappers/python/examples/box_dimensioner_multicam/samplesetupandoutput.jpg
  wrappers/python/examples/readme.md
Labels: python

#2072 Update distribution_linux.md
  doc/distribution_linux.md
Labels: Linux, installation

#2166 Adding multi_pins_hid_device to PyBackend
  wrappers/python/pybackend.cpp
Labels: python
