Repository IntelRealSense/librealsense, pull requests merged in 2018-09, with the labels that each got.

#2347 Enable IR stream with win_usb backend.
  src/win7/win7-uvc.cpp
  src/win7/winusb_uvc/winusb_uvc.cpp
  src/win7/winusb_uvc/winusb_uvc.h
Labels: Windows

#2346 update for function process in align.m file
  wrappers/matlab/align.m
Labels: matlab

#2349 Update for function get_vertices in points.m file
  wrappers/matlab/points.m
Labels: matlab

#2403 Remove win7 WDK dlls CMake copy on deleted files
  CMakeLists.txt
Labels: Windows, bug
