Repository IntelRealSense/librealsense, pull requests merged in 2019-12, with the labels that each got.

#5346 Added API for depth auto calibration.
  common/model-views.cpp
  common/notifications.cpp
  common/notifications.h
  common/on-chip-calib.cpp
  common/on-chip-calib.h
  include/librealsense2/h/rs_device.h
  include/librealsense2/h/rs_types.h
  include/librealsense2/hpp/rs_device.hpp
  src/CMakeLists.txt
  src/auto-calibrated-device.h
  src/core/advanced_mode.h
  src/ds5/CMakeLists.txt
  src/ds5/ds5-auto-calibration.cpp
  src/ds5/ds5-auto-calibration.h
  src/ds5/ds5-device.cpp
  src/ds5/ds5-device.h
  src/ds5/ds5-factory.cpp
  src/ds5/ds5-private.h
  src/realsense.def
  src/rs.cpp
  src/types.cpp
  wrappers/python/examples/auto_calibration_config.json
  wrappers/python/examples/depth_auto_calibration_example.py
  wrappers/python/pyrs_device.cpp
Labels: api_change

#5306 UE4 wrapper 4.24 update and Linux build
  include/librealsense2/hpp/rs_processing.hpp
  wrappers/unrealengine4/.gitignore
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Private/Shared.h
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/RealSense.Build.cs
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMesh.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshActor.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshBuilder.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshComponent.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshComponentPlugin.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshComponentProxy.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshComponentProxy.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshCore.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshData.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshInternalUtilities.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshLegacySerialization.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshLegacySerialization.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshLibrary.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshProxy.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshProxy.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshRendering.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshRendering.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshSection.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshSectionProxy.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshSectionProxy.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshShapeGenerator.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshSlicer.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshTessellationUtilities.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshTessellationUtilities.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshUpdateCommands.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMesh.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshActor.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshBlueprint.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshBuilder.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshCollision.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshComponent.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshComponentPlugin.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshCore.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshData.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshGenericVertex.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshLibrary.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshManager.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshSection.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshShapeGenerator.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshSlicer.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/RuntimeMeshComponent.Build.cs
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/Private/RuntimeMeshComponentDetails.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/Private/RuntimeMeshComponentDetails.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/Private/RuntimeMeshComponentEditorPlugin.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/Public/IRuntimeMeshComponentEditorPlugin.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/RuntimeMeshComponentEditor.Build.cs
  wrappers/unrealengine4/RealSenseUE.uproject
Labels: unreal

#5380 fix openni2 wrapper convertDepthToColorCoordinates
  wrappers/openni2/src/Rs2Stream.cpp
  wrappers/openni2/src/Rs2Stream.h
Labels: openni

#5360 Add rs-dnn-vino sample
  examples/readme.md
  wrappers/openvino/CMakeLists.txt
  wrappers/openvino/dnn/CMakeLists.txt
  wrappers/openvino/dnn/readme.md
  wrappers/openvino/dnn/rs-dnn-vino.cpp
  wrappers/openvino/dnn/rs-dnn-vino.jpg
  wrappers/openvino/face/readme.md
  wrappers/openvino/face/rs-face-vino.cpp
  wrappers/openvino/readme.md
  wrappers/openvino/rs-vino/base-detection.h
  wrappers/openvino/rs-vino/detected-object.cpp
  wrappers/openvino/rs-vino/detected-object.h
  wrappers/openvino/rs-vino/object-detection.cpp
  wrappers/openvino/rs-vino/object-detection.h
Labels: openvino

#5415 Map Preservation Fixes
  doc/t265.md
  src/tm2/tm-device.cpp
Labels: T260 series

#5444 CMake: unix_config, set CMAKE_POSITION_INDEPENDENT_CODE
  CMake/unix_config.cmake
Labels: cmake
