Repository IntelRealSense/librealsense, pull requests merged in 2019-06, with the labels that each got.

#4203 Update nodejs wrapper
  wrappers/nodejs/README.md
  wrappers/nodejs/binding.gyp
Labels: node.js

#4240 doc: T265 extrinsics and origin explained
  doc/img/T265_orientation_axis.png
  doc/img/T265_sensor_extrinsics.png
  doc/t265.md
Labels: documentation

#3929 Make legacy librealsense compatible with recent kernel
  src/uvc-v4l2.cpp
Labels: R200, librealsense 1.0

#4237 Android - dynamic USB read buffer size
  src/android/usb_host/android_uvc.cpp
  src/usbhost/messenger-usbhost.cpp
  wrappers/android/tools/camera/src/main/java/com/intel/realsense/camera/Streamer.java
Labels: android

#4273 Added Intrinsic camera information to JNI interface
  src/android/jni/stream_profile.cpp
  tools/terminal/auto-complete.cpp
  wrappers/android/librealsense/src/main/AndroidManifest.xml
  wrappers/android/librealsense/src/main/java/com/intel/realsense/librealsense/VideoStreamProfile.java
Labels: android
