Repository IntelRealSense/librealsense, pull requests merged in 2019-11, with the labels that each got.

#5109 Full portChain in physical port info
  src/tm2/tm-device.cpp
Labels: T260 series

#5053 Adding Support-Matrix and updating Jetson docs
  doc/img/install-jetson.png
  doc/img/jetson-d400.png
  doc/img/jetson-t265.png
  doc/img/jetson.jpg
  doc/img/latest_release.png
  doc/img/prerelease.png
  doc/installation_jetson.md
  doc/support-matrix.md
Labels: documentation, jetson

#5244 Wheeled Odometry Calibration Setup Examples
  doc/img/T265_Robot1.png
  doc/img/T265_Robot2.png
  doc/installation.md
  doc/t265.md
Labels: documentation

#5198 Alternative, possibly simpler approach for obtaining pitch, roll and …
  doc/installation_osx.md
  wrappers/python/examples/t265_rpy.py
Labels: T260 series, python

#5200 Add new functions to Python wrapper, update some more documentation
  include/librealsense2/hpp/rs_device.hpp
  include/librealsense2/hpp/rs_sensor.hpp
  wrappers/python/pyrs_device.cpp
  wrappers/python/pyrs_frame.cpp
  wrappers/python/pyrs_processing.cpp
  wrappers/python/pyrs_record_playback.cpp
  wrappers/python/pyrs_sensor.cpp
  wrappers/python/pyrsutil.cpp
  wrappers/python/python.hpp
Labels: python

#5170 .NET Development
  wrappers/csharp/Intel.RealSense/Devices/Device.cs
  wrappers/csharp/Intel.RealSense/Frames/Frame.cs
  wrappers/csharp/Intel.RealSense/Frames/Points.cs
  wrappers/csharp/Intel.RealSense/Sensors/PoseSensor.cs
  wrappers/csharp/Intel.RealSense/Sensors/Sensor.cs
  wrappers/csharp/Intel.RealSense/Sensors/SensorList.cs
  wrappers/csharp/cs-tutorial-1-depth/Program.cs
  wrappers/csharp/cs-tutorial-2-capture/Window.xaml.cs
  wrappers/csharp/cs-tutorial-3-processing/Window.xaml.cs
Labels: .NET
