Repository IntelRealSense/librealsense, pull requests merged in 2019-02, with the labels that each got.

#3149 Libtm fw compare
  third-party/libtm/resources/CMakeLists.txt
Labels: libtm

#3194 add realsense-ir-to-vaapi-h264 community example
  examples/readme.md
Labels: documentation

#3203 T265 info adjustments
  src/tm2/tm-device.cpp
Labels: T260 series, bug

#3172 Changing IMU Table link and adding JSON writer
  tools/rs-imu-calibration/rs-imu-calibration.py
Labels: d435i, documentation

#3196 opencv: only use the C++ API
  wrappers/opencv/cv-helpers.hpp
  wrappers/opencv/dnn/rs-dnn.cpp
  wrappers/opencv/grabcuts/rs-grabcuts.cpp
  wrappers/opencv/imshow/rs-imshow.cpp
  wrappers/opencv/latency-tool/latency-detector.h
  wrappers/opencv/latency-tool/rs-latency-tool.cpp
Labels: opencv

#3202 Added Register Extrinsics method to C# wrapper
  wrappers/csharp/Intel.RealSense/NativeMethods.cs
  wrappers/csharp/Intel.RealSense/StreamProfiles/StreamProfile.cs
Labels: .NET

#3246 Libuvc_installation - add script to facilitate libuvc backend
  doc/libuvc_installation.md
  scripts/libuvc_installation.sh
Labels: documentation

#3257 Replace vec2mat with reshape #2
  wrappers/matlab/readme.md
Labels: documentation, matlab

#3317 android - listen to interrupts on the usb pipe thread by default
  src/android/android-uvc.cpp
  src/android/android-uvc.h
  src/android/usb_host/android_uvc.cpp
  src/android/usb_host/usb_pipe.cpp
  src/android/usb_host/usb_pipe.h
Labels: android

#3331 Libtm merge from release ww08 rc4
  third-party/libtm/CMakeLists.txt
  third-party/libtm/libtm/include/TrackingCommon.h
  third-party/libtm/libtm/include/TrackingDevice.h
  third-party/libtm/libtm/src/CMakeLists.txt
  third-party/libtm/libtm/src/Common.cpp
  third-party/libtm/libtm/src/Device.cpp
  third-party/libtm/libtm/src/Device.h
  third-party/libtm/libtm/src/Manager.h
  third-party/libtm/libtm/src/Message.h
  third-party/libtm/libtm/src/infra/Dispatcher.cpp
  third-party/libtm/libtm/src/infra/Event.h
  third-party/libtm/libtm/src/infra/EventHandler.h
  third-party/libtm/libtm/src/infra/Event_bsd.cpp
  third-party/libtm/libtm/src/infra/Log.cpp
  third-party/libtm/libtm/src/infra/Poller_bsd.cpp
  third-party/libtm/libtm/src/infra/Semaphore.h
  third-party/libtm/libtm/src/infra/Semaphore_lin.cpp
  third-party/libtm/libtm/src/infra/Semaphore_win.cpp
  third-party/libtm/libtm/src/infra/Utils.cpp
  third-party/libtm/tools/libtm_util/libtm_util.cpp
  third-party/libtm/versions.cmake
Labels: libtm

#3347 Update python-rs400-advanced-mode-example.py
  wrappers/python/examples/python-rs400-advanced-mode-example.py
Labels: python
