Repository IntelRealSense/librealsense, pull requests merged in 2019-09, with the labels that each got.

#4773 frame_queue can automatically keep frames for you
  include/librealsense2/hpp/rs_processing.hpp
  wrappers/matlab/frame_queue.m
  wrappers/matlab/librealsense_mex.cpp
  wrappers/python/examples/frame_queue_example.py
  wrappers/python/pyrs_processing.cpp
Labels: python

#4830 Wheel odometry unit test fix
  unit-tests/CMakeLists.txt
  unit-tests/unit-tests-live.cpp
Labels: T260 series

#4808 Minor Python Fixes
  wrappers/python/pyrs_advanced_mode.cpp
  wrappers/python/pyrs_context.cpp
  wrappers/python/pyrs_processing.cpp
  wrappers/python/pyrs_record_playback.cpp
  wrappers/python/pyrsutil.cpp
Labels: python

#4927 Update doxygen of pose_sensor
  include/librealsense2/hpp/rs_device.hpp
  include/librealsense2/hpp/rs_sensor.hpp
  src/tm2/tm-device.h
Labels: documentation
