Repository IntelRealSense/librealsense, pull requests merged in 2019-05, with the labels that each got.

#3883 Extend cv-helpers.hpp to handle RS2_FORMAT_DISPARITY32
  wrappers/opencv/cv-helpers.hpp
Labels: opencv

#2337 Fix template literals for error messages
  wrappers/nodejs/scripts/npm_dist/build-librealsense.js
Labels: node.js

#3956 UE4 Wrapper Update
  include/librealsense2/hpp/rs_processing.hpp
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Private/DepthColorizer.cpp
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Private/DepthColorizer.h
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Private/DynamicTexture.cpp
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Private/RealSenseContext.cpp
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Private/RealSenseDetailCustomization.cpp
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Private/RealSenseDevice.cpp
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Private/RealSenseInspector.cpp
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Private/RealSenseOption.cpp
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Private/RealSensePluginImpl.cpp
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Private/RealSenseSensor.cpp
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/Public/RealSenseInspector.h
  wrappers/unrealengine4/Plugins/RealSense/Source/RealSense/RealSense.Build.cs
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMesh.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshActor.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshBlueprintMeshBuilder.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshBuilder.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshComponent.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshComponentProxy.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshData.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshLibrary.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshProxy.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshProxy.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshRendering.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshRendering.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshSectionProxy.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshSectionProxy.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshSlicer.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Private/RuntimeMeshUpdateCommands.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMesh.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshActor.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshBlueprintMeshBuilder.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshBuilder.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshCollision.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshComponent.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshCore.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshData.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/Public/RuntimeMeshSection.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponent/RuntimeMeshComponent.Build.cs
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/Private/RuntimeMeshComponentDetails.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/Private/RuntimeMeshComponentDetails.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/Private/RuntimeMeshComponentEditorCommands.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/Private/RuntimeMeshComponentEditorPlugin.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/Private/RuntimeMeshComponentEditorStyle.cpp
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/Public/RuntimeMeshComponentEditorCommands.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/Public/RuntimeMeshComponentEditorStyle.h
  wrappers/unrealengine4/Plugins/RuntimeMeshComponent/Source/RuntimeMeshComponentEditor/RuntimeMeshComponentEditor.Build.cs
  wrappers/unrealengine4/README.md
  wrappers/unrealengine4/Source/RealSenseUE/RealSenseTestActor.cpp
  wrappers/unrealengine4/Source/RealSenseUE/RealSenseUE.Build.cs
Labels: unreal

#3860 Add finally to example code for pyrealsense
  wrappers/python/readme.md
Labels: python

#3982 Add units transform processing block
  include/librealsense2/h/rs_processing.h
  include/librealsense2/h/rs_sensor.h
  include/librealsense2/hpp/rs_processing.hpp
  src/proc/CMakeLists.txt
  src/proc/units-transform.cpp
  src/proc/units-transform.h
  src/realsense.def
  src/rs.cpp
  src/types.cpp
  unit-tests/unit-tests-live.cpp
  wrappers/csharp/Intel.RealSense/NativeMethods.cs
  wrappers/csharp/Intel.RealSense/Processing/CMakeLists.txt
  wrappers/csharp/Intel.RealSense/Processing/UnitsTransform.cs
  wrappers/csharp/Intel.RealSense/Types/Enums/Format.cs
  wrappers/python/python.cpp
Labels: .NET, api_change, python

#3976 Fix for D435i loosing RGB-depth extrinsic calibration after firmware update
  src/ds5/ds5-color.h
  src/ds5/ds5-factory.cpp
  src/ds5/ds5-private.h
Labels: d435i

#3951 Example: Stereo from T265 images using OpenCV
  doc/t265.md
  wrappers/python/examples/readme.md
  wrappers/python/examples/t265_stereo.py
Labels: T260 series, documentation
