Repository IntelRealSense/librealsense, pull requests merged in 2019-08, with the labels that each got.

#4433 Unsigned firmware update
  common/fw-update-helper.cpp
  common/fw-update-helper.h
  common/model-views.cpp
  common/model-views.h
  include/librealsense2/h/rs_device.h
  include/librealsense2/hpp/rs_device.hpp
  src/android/jni/device.cpp
  src/ds5/ds5-device.cpp
  src/ds5/ds5-device.h
  src/ds5/ds5-private.cpp
  src/ds5/ds5-private.h
  src/fw-update/CMakeLists.txt
  src/fw-update/fw-update-device-interface.h
  src/fw-update/fw-update-unsigned.cpp
  src/fw-update/fw-update-unsigned.h
  src/hw-monitor.h
  src/ivcam/sr300.cpp
  src/ivcam/sr300.h
  src/realsense.def
  src/rs.cpp
  tools/fw-update/rs-fw-update.cpp
  wrappers/android/librealsense/src/androidTest/java/com/intel/realsense/librealsense/JniPipelineTests.java
  wrappers/android/librealsense/src/main/java/com/intel/realsense/librealsense/Updatable.java
  wrappers/android/librealsense/src/main/java/com/intel/realsense/librealsense/UpdateDevice.java
  wrappers/android/tools/camera/src/main/java/com/intel/realsense/camera/DetachedActivity.java
  wrappers/android/tools/camera/src/main/java/com/intel/realsense/camera/FileBrowserActivity.java
  wrappers/android/tools/camera/src/main/java/com/intel/realsense/camera/FirmwareUpdateProgressDialog.java
  wrappers/android/tools/camera/src/main/java/com/intel/realsense/camera/PlaybackActivity.java
  wrappers/android/tools/camera/src/main/java/com/intel/realsense/camera/RecordingActivity.java
  wrappers/android/tools/camera/src/main/java/com/intel/realsense/camera/SettingsActivity.java
  wrappers/android/tools/camera/src/main/res/values/strings.xml
  wrappers/python/python.cpp
Labels: fw update

#4531 Use full GPG Key IDs for installing in linux, since short ones may be…
  doc/distribution_linux.md
Labels: Linux

#4658 D400 On-Chip Calibration
  common/CMakeLists.txt
  common/fw-update-helper.cpp
  common/fw-update-helper.h
  common/model-views.cpp
  common/model-views.h
  common/notifications.cpp
  common/notifications.h
  common/on-chip-calib.cpp
  common/on-chip-calib.h
  common/viewer.cpp
  common/viewer.h
  include/librealsense2/hpp/rs_device.hpp
  src/ds5/CMakeLists.txt
  src/ds5/advanced_mode/advanced_mode.cpp
  src/ds5/ds5-device.cpp
  src/ds5/ds5-factory.cpp
  src/ds5/ds5-nonmonochrome.cpp
  src/ds5/ds5-nonmonochrome.h
  src/ds5/ds5-private.cpp
Labels: calibration

#4690 Update python's readme.md
  wrappers/python/readme.md
Labels: documentation

#4739 Enhance frame::get_timestamp() documentation
  include/librealsense2/hpp/rs_frame.hpp
Labels: documentation

#4733 Adding Depth-Filter OpenCV example
  CMake/windows_config.cmake
  common/tiny-profiler.h
  include/librealsense2/h/rs_sensor.h
  include/librealsense2/hpp/rs_frame.hpp
  include/librealsense2/rs.h
  package.xml
  src/realsense.def
  src/rs.cpp
  wrappers/opencv/CMakeLists.txt
  wrappers/opencv/depth-filter/CMakeLists.txt
  wrappers/opencv/depth-filter/camera-settings.json
  wrappers/opencv/depth-filter/downsample.cpp
  wrappers/opencv/depth-filter/downsample.h
  wrappers/opencv/depth-filter/readme.md
  wrappers/opencv/depth-filter/rs-depth-filter.cpp
  wrappers/opencv/readme.md
Labels: documentation, opencv
