Repository IntelRealSense/librealsense, pull requests merged in 2020-01, with the labels that each got.

#5679 Update readme.md
  wrappers/python/readme.md
Labels: documentation, python

#5597 VAAPI HEVC Main10 hardware depth encoding example
  examples/readme.md
Labels: documentation

#5678 Enable metadata with a single click on Windows
  common/CMakeLists.txt
  common/metadata-helper.cpp
  common/metadata-helper.h
  common/model-views.cpp
  common/notifications.cpp
  common/notifications.h
  common/windows-app-bootstrap.cpp
  src/ds5/ds5-color.cpp
Labels: Windows
