Repository IntelRealSense/librealsense, pull requests merged in 2020-04, with the labels that each got.

#6198 [python] log_to_callback
  wrappers/python/python.cpp
Labels: python

#6143 fix YUYV preview for the RGB stream in camera app on android
  src/android/jni/processing.cpp
  wrappers/android/librealsense/src/main/java/com/intel/realsense/librealsense/GLRenderer.java
  wrappers/android/librealsense/src/main/java/com/intel/realsense/librealsense/YuyDecoder.java
Labels: android

#6263 Fixes Typos
  doc/installation.md
Labels: documentation

#6176 T265 Upgrade Firmware to 0.2.0.951
  common/fw/CMakeLists.txt
  common/fw/firmware-version.h
Labels: T260 series
