Repository IntelRealSense/librealsense, pull requests merged in 2020-06, with the labels that each got.

#6484 fix memory leak in occlusion-filter
  src/proc/occlusion-filter.cpp
Labels: bug, l500

#6467 Multi-camera with RSUSB - Follow-up
  examples/multicam/rs-multicam.cpp
  src/device_hub.cpp
Labels: T260 series, multicamera

#6423 Additional Viewer Enhancements
  common/CMakeLists.txt
  common/fw-update-helper.cpp
  common/fw/CMakeLists.txt
  common/fw/firmware-version.h
  common/fw/fw.rc
  common/measurement.cpp
  common/measurement.h
  common/model-views.cpp
  common/model-views.h
  common/notifications.cpp
  common/notifications.h
  common/opengl3.cpp
  common/opengl3.h
  common/rendering.h
  common/res/nx.h
  common/res/ny.h
  common/res/nz.h
  common/res/px.h
  common/res/py.h
  common/res/pz.h
  common/skybox.cpp
  common/skybox.h
  common/ux-window.cpp
  common/ux-window.h
  common/viewer.cpp
  common/viewer.h
  include/librealsense2-gl/rs_processing_gl.hpp
  src/gl/camera-shader.cpp
  src/gl/camera-shader.h
  src/gl/pc-shader.cpp
  src/gl/pc-shader.h
  src/gl/pointcloud-gl.cpp
  src/gl/synthetic-stream-gl.h
  src/proc/synthetic-stream.cpp
  src/proc/zero-order.cpp
  third-party/imgui/imgui-fonts-fontawesome.hpp
  tools/depth-quality/depth-quality-model.cpp
  tools/depth-quality/depth-quality-model.h
  tools/realsense-viewer/realsense-viewer.cpp
Labels: GUI

#6498 Start L500 in MAX_POWER by default
  src/l500/l500-depth.cpp
Labels: l500

#6220 Move python bindings into separate cmake target
  CMake/pyrealsense2Config.cmake.in
  wrappers/python/CMakeLists.txt
Labels: python

#6615 Fix #6609
  src/l500/l500-depth.h
Labels: l500
